input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-weight: 700;
}


.post_actions {
    background-color: lightblue;
    padding: 10px;

    display: flex;
    align-items: center;

}


.post_input {
    padding: 10px;
    flex: 1 1 0;
    background-color: goldenrod;
    border-radius: 1rem;
    font-size: 1.25rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

}
.post_input input {
    height: 100%;
    width: 100%;
}


.submit_post {
    background-color: goldenrod;
    border-radius: 1rem;
    font-size: 1.25rem;
    margin-left: 5px;

}







