.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    margin-left: 5px;
}

.users {
    color: red;
}

.posts {
    color: green;
}

.comments {
    color: blue;
}

.info {
    margin-top: 15px;

}