.sideBar {
    grid-area: n;
    background-color: lightblue;
}
.sideBar nav {
    display: flex;
    flex-direction: column;
}

.sideBar div a {
    text-decoration: none;
    color: white;
}

.item {

}